<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--&lt;!&ndash;指定运行测试包&ndash;&gt;-->
<!--<suite name="测试套件" verbose="1" >-->
<!--<test name="简单测试">-->
    <!--<packages>-->
        <!--<package name="test.sample" />-->
        <!--<package name="test.sample2" />-->
    <!--</packages>-->
<!--</test>-->
<!--</suite>-->

<!--&lt;!&ndash;指定运行测试类&ndash;&gt;-->
<!--<suite name="测试套件" verbose="1" >-->
<!--<test name="简单测试">-->
    <!--<classes>-->
        <!--<class name="test.sample.FixtureTest"/>-->
        <!--<class name="test.sample.TestDemo"/>-->
    <!--</classes>-->
<!--</test>-->
<!--</suite>-->

<!--&lt;!&ndash;指定运行测试用例&ndash;&gt;-->
<!--<suite name="测试套件" verbose="1" >-->
<!--<test name="简单测试">-->
    <!--<classes>-->
        <!--<class name="test.sample.FixtureTest">-->
            <!--<methods>-->
                <!--<include name="testCase1" />-->
            <!--</methods>-->
        <!--</class>-->
    <!--</classes>-->
<!--</test>-->
<!--</suite>-->

<!--<suite name="测试套件" verbose="1" >-->
<!--<test name="简单测试">-->
    <!--<groups>-->
        <!--<run>-->
            <!--<exclude name="异常"  />   &lt;!&ndash; 排除不执行的测试用例 &ndash;&gt;-->
            <!--<include name="高"  />  &lt;!&ndash; 指定执行的测试用例 &ndash;&gt;-->
        <!--</run>-->
    <!--</groups>-->

    <!--<classes>-->
        <!--<class name="test.sample.TagTest"/>-->
    <!--</classes>-->
<!--</test>-->
<!--</suite>-->

<!--preserve-order 参数用于控制测试用例的执行顺序。
如果为：true，测试用例的顺序为：testCase > testCase1 > testCase2。
如果为:false ，那么默认会按照用例的名称的有字母/数字的顺序执行：testCase1 > testCase2 > testCase3。
不设置的情况下默认为 true 。-->
<suite name="测试套件CaseRunTest">
<test name="简单测试" preserve-order="false">
    <classes>
        <class name="test.sample.CaseRunTest">
            <methods>
                <include name="testCase3" />
                <include name="testCase1" />
                <include name="testCase2" />
            </methods>
        </class>
    </classes>
</test>
</suite>